# Para los archivos compilados de Python
__pycache__/
# Para los checkpoints de libretas
*checkpoint*
# Ignorar los pipfile
Pipfile*
# Ignorar lo de PyCharm
.idea/*
events*
# Ignorar datos ocultos de macOS
.DS*